<div id="cover" class="content">
    <div id="cover-image" style="background-image: url('/{{ .Dir }}cover.jpg')"></div>
    <div id="cover-heading" class="heading">
        <a href="/">
            <img id="cover-logo" alt="{{ site.Title }} Logo" src="/img/logo.jpg" width="100%">
        </a>
        <h1 class="heading-title">{{ .Title }}</h1>
    </div>
</div>
<div class="content content-section is-red">
    <h1 class="heading-title is-white is-submerged">{{ .Title }}</h1>
    <h2 class="content-title">{{ dateFormat "January 2, 2006" .Params.date_start }}</h2>
    <h3 class="content-subtitle">Dorseyville Middle School</h3>
    <h1 class="heading-title is-white">Speakers</h1>
</div>
<div class="content content-section">
    <h1 class="heading-title is-submerged">Speakers</h1>
    {{ partial "speaker/photo-grid.html" (.Data.Pages.ByParam "last_name") }}
</div>
<div class="content content-section is-red">
    {{ partial "menu.html" . }}
    <h1 class="heading-title is-white">What is <span class="text-transform-none">TEDx</span>?</h1>
</div>
<div class="content content-section">
    <h1 class="heading-title is-submerged">What is <span class="text-transform-none">TEDx</span>?</h1>
    <p>In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxKids@HartwoodElementary, where x = independently organized TED event. At our TEDxKids@HartwoodElementary event, TED Talks video and live speakers will combine to spark deep discussion and connection in a small group. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.</p>
</div>
