<meta name="description" content="{{ .Params.summary }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ .Params.summary }}">
<meta property="og:image" content="{{ (printf "%sog-meta-image.jpg" .File.Dir) | absURL }}">

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "{{ printf "%s: %s" site.Title .Title }}",
    "startDate": "{{ .Date.Format "2006-01-02T15:04-07:00" }}",
    "endDate": "{{ dateFormat "2006-01-02T15:04-07:00" .Params.date_end }}",
    "eventAttendanceMode": "https://schema.org/{{ cond (isset .Params "virtual_link") "OnlineEventAttendanceMode" "OfflineEventAttendanceMode" }}",
    "eventStatus": "https://schema.org/{{ .Params.event_status }}",
    {{- with .Params.date_previous_start }}
    "previousStartDate": "{{ dateFormat "2006-01-02T15:04-07:00" . }}",
    {{- end }}
    "location": {
        {{- with .Params.virtual_link }}
        "@type": "VirtualLocation",
        "url": "{{ . }}"
        {{- else }}
        "@type": "Place",
        "name": "Dorseyville Middle School",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "3732 Saxonburg Blvd",
            "addressLocality": "Pittsburgh",
            "postalCode": "15238",
            "addressRegion": "PA",
            "addressCountry": "US"
        }
        {{- end }}
    },
    "image": {{ apply .Params.images "absURL" "." }},
    "description": "{{ .Params.summary }}"
}
</script>
